/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 400;
}

a {
    text-decoration: none;
}


body {
    background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%)) no-repeat;
    font-family: 'Kumbh Sans', sans-serif;
    width: 100%;
}

