@import "./global";
@import"./variables";

/* CONTAINER */

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

/* IMAGE BOX */

.image-box {
    display: none;
}

/* CARD */

.card {
    background-color: $card-color;
    width: 21.3rem;
    border-radius: 1.5rem;
    box-shadow: 0px 9px 19px -4px rgba(0,0,0,0.32);

    position: relative;
}

/* CARD CONTENT */

.woman-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .shadow-image-mobile {
        width: 15rem;
    }
    
    .image-woman-mobile {
        width: 15rem;

        position: absolute;
        top: -6.7rem;
    }

    .shadow-image-desktop {
        display: none;
    }

    .image-woman-desktop {
        display: none;
    }
}

.questions {
    padding: 0 1.5rem 3rem 1.5rem;

    .title {
        text-align: center;
        color: $very-dark-blue;

        margin: 1.3rem;
    }

    .question {
        display: flex;
        align-items: center;
        justify-content: space-between;

        margin: 1rem 0;

        h3 {
            font-size: 0.9rem;
            font-weight: 400;
            color: $dark-gray;
            
            cursor: pointer;
            transition: 0.1s;

            &:hover {
                color: $soft-red;
            }
        }

        .arrow-icon {
            cursor: pointer;
        }
    }

    .answer {
        p {
            margin: 1rem 0;
            font-size: 0.8rem;
            line-height: 1.2rem;
            color: $gray;
        }
        
    }

    .line {
        border-bottom: solid 0.1rem $gray;
        opacity: 0.4;
    }
}

/* FOOTER */

.attribution {
    margin-bottom: 1rem;

    text-align: center;
    font-size: 0.85rem;
    color: $very-dark-blue;

    a {
        transition: 0.2s;
        color: $soft-red;

        &:hover {
            filter: brightness(0.8);
        }
    }
}

/* MEDIUM DEVICES - TABLETS */

@media (min-width: 700px) {
    /* CARD */

    .card {
        width: 30rem;
    }

    .questions {
        padding: 0 2rem 3rem 2rem;
    }
}

/* LARGE DEVICES - DESKTOPS */

@media (min-width: 1000px) {
    .image-box {  
        display: block;

        width: 10.2rem;
        position: relative;
        top: 2.6rem;
        left: -24.9rem;
        
        z-index: 1;
    }

    /* CARD */

    .card {
        display: flex;
        align-items: center;

        width: 50rem;
        height: 27rem;
        position: absolute;
        overflow: hidden;
    }

    /* CARD CONTENT */

    .woman-image {
        width: 22rem;

        .shadow-image-mobile {
            display: none;
        }
    
        .image-woman-mobile {
            display: none;
        }

        .shadow-image-desktop {
            display: block;

            width: 48rem;
            position: absolute;
            left: -27.2rem;
            top: -14.4rem;
        }

        .image-woman-desktop {
            display: block;

            width: 24.8rem;
            position: relative;
            left: -2.7rem;
            top: 0;
        }
    }

    .questions {
        padding: 1rem 5rem 1rem 3rem;

        .title {
            text-align: start;
            font-size: 1.8rem;
            margin: 0 0 2rem 0;
        }
    
        .question {
            margin: 0.8rem 0;
    
            h3 {
                font-size: 0.85rem;
                align-self: flex-end;
                margin-right: 4.2rem;
            }
        }

        .answer {
            p {
                margin: 0.8rem 0;
                font-size: 0.75rem;
            }
            
        }
    }
}